* {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    box-sizing: border-box;
    color: greenyellow;
}

body, html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #181818;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

#project-links {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    opacity: 0.5;
}

.container main {
    padding: 1ch;
    background-color: #111;
}


/* Game list */

ul {
    padding: 0;
}

li {
    list-style-type: none;
    position: relative;
    padding-top: 1em;
}

li:hover:before {
    content: ">>";
}

.game-title {
    font-size: 1.5em;
}

.game-author:before {
    content: " by ";
    font-style: normal;
}

.game-author {
    font-style: italic;
}

.game-description {
    margin: 0.7em;
}



/* Game interaction */

#cursor::after {
    content: 'X';
    background-color: greenyellow;
    animation: blinker 1s steps(1, end) infinite;
}

@keyframes blinker {
    0% { opacity: 0; }
    50% { opacity: 100; }
    100% { opacity: 0; }
}

#game-output {
    width: 80ch;
    overflow: hidden;
}

#text {
    white-space: pre-wrap;
}

.line {
    margin: 0;
    padding: 0;
    animation: typing 4s steps(100, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

[from="server"] {}

[from="player"] {
    color: grey;
}

#user-form {
    display: inline;
    margin: 0;
    padding: 0;
    width: 0;
}
#user-input, #user-input * {
    display: inline;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border: none;
    color: grey;
    background-color: none;
}
#user-input-feedback {
    margin: 0;
    padding: 0;
    color: grey;
}

.replay-btn {
    color: black;
}
